.form-control{
    margin : 1rem
}
.form-control label,
.form-control input{
    display: block;
    width: 100%;
}
.form-control input {
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
}
.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
button{
    font : inherit;
    border: 1px solid #6200ff;
    border-radius: 3px;
    color: #6200ff;
    background: white ;
    cursor: pointer;
}
button:hover,
button:active{
    background-color: #6200ff;
    color: white;
}